body
{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    background-color: #2BDAEC;
    background-image: url(/Images/LineBackground.png);
    background-repeat: repeat-y;
    background-position: top;

    overflow-y: scroll;
    color: #0A6F6E;
}

a, a:visited
{
    color: #0A6F6E;
}

.border-bottom
{
    background-image: url(/Images/Background.png);
    background-repeat: no-repeat;
    background-position: top;
}

ul
{
    list-style: none;
}

h2
{
    margin-bottom: 15px;
    font-size: 20px;
}

h3
{
    margin-bottom: 10px;
    font-size: 16px;
}

.logo-main
{
    width: 100%;
    height: 255px;
    position: relative;
    /*background-image: url(/Images/Evrika.png);*/
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -55px;
}

.logo-main2
{
    width: 100%;
    height: 255px;
    position: relative;
    /*background-image: url(/Images/logo.png);*/
    background-repeat: no-repeat;
    background-position-x: center;
    
}

ul.nav-main
{
    list-style: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -585px;
    width: 1170px;
    display: table;
}

ul.nav-main > li
{
    /*display: inline-block;*/
    display: table-cell;
    position: relative;
}

ul.nav-main > li ul {
    z-index: 501;
}

.nav-main > li ul > li:first-child > a
{
    border-top: 1px solid #0A6F6E;
}

.nav-main > li ul > li > a {
    border-top: 1px solid #0A6F6E;
    border-bottom: 1px solid #0A6F6E;
    border-left: 1px solid #0A6F6E;
    border-right: 1px solid #0A6F6E;
    background-color: #6BE2E0;
    min-width: 300px;
    border-radius: 4px;
    margin-top: 1px;
}

.nav-main > li ul > li {
    display: block;
}

.nav-main > li > a:hover,
.nav-main > li:hover ul > li > a:hover
{
    background-color: #90f7f5;
    position: relative;
}

.nav-main > li:hover ul {
    display: block !important;
    position: absolute;
    left: 5px;
    top: 36px;
}

.nav-main > li > a
{
    padding: 10px 30px 10px 30px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
    border: 1px solid #0A6F6E;
    background-color: #6BE2E0;
    border-radius: 4px;
}

.nav-main > li:first-child > a
{
    margin-left: 0px;
}

.nav-main > li > ul > li > a {
    padding: 5px 10px 5px 10px;
    display: block;
    text-decoration: none;
}

.section-main
{
    width: 1170px;
    /*border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;*/
    margin: auto;
}

.breadcrumb
{
    padding: 8px 5px 8px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #51CFDD;
    border-radius: 5px;
}

.main-right
{
    width: 280px;
    padding: 5px;
    float: right;
    min-height: 500px;
}

.search-panel {
    border: 1px solid #EFEFEF;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 10px 5px 10px;
}

.news-list
{
    list-style: none;
    margin-right: 300px;
}

.news-list li.news
{
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 15px;
}

.news-list li.news .news-content
{
    padding-left: 10px;
}

.news-main
{
    display: block;
    margin: 10px;
    min-height: 200px;
    border: 1px solid #DEDEDE;
}

.news-header
{
    padding-left: 10px;
}

.news-header h2
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.news-image
{
    float: left;
    padding: 0px 10px 10px 0px;
}

.news-image img
{
    height: 120px;
    width: 180px;
}

.news-footer
{
    display: block;
}

/****  Gallery  ****/
.photo-overaly
{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background-color: black;
    opacity: 0.5;
    z-index: 502;
    display: none;
}

.photo-big
{
    display: table;
    margin: auto;
    z-index: 503;
    position: absolute;
}

.photo-big-descr
{
    padding: 5px;
}

.gallery-main
{
    width: 1170px;
    overflow-y: auto;
    margin: auto;
    padding: 10px;
}

.photo-placeholder
{
    width: 120px;
    height: 120px;
    border: 1px dotted #D5D5D5;
    background-color: #E5E5E5;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    box-shadow: 5px 5px 10px 2px #EFEFEF;
    cursor: pointer;
}

.photo-item
{
    display: inline-block;
    width: 176px;
    height: 210px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #EFEFEF;
}

.photo-item .photo-album
{
    padding: 10px;
    text-decoration: none;
    
}

.photo-item .photo-album .title
{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.photo-item .photo-album .descr
{
    text-align: center;
    color: #ABABAB;
}

.photo-image-container
{
    width: 176px;
    height: 176px;
    position: relative;
    overflow: hidden;
}

.img-link {
    display: block;
    /*width: 640px;*/
    /*text-align: center;*/
    /*margin-left: -320px;*/
    /*margin-left: -50%;*/
    height: 176px;
    width: 100%;
}

.photo-image 
{
    /*max-width: 176px;
    max-height: 176px;*/
    /*max-width: 640px;*/
    max-height: 176px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/**** Special Section ****/

.special-links-main
{
    /*border: 1px solid #DEDEDE;*/
    float: left;
    display: block;
    width: 280px;
}

.special-links-container
{
    padding: 10px 10px 10px 0px;
    width: 260px;
    display: block;
}

.special-links-container.fixed
{
    position: fixed;
    top: 10px;
}

 .special-links-main ul
{
    list-style: none;
}

.special-links-main .list-item a
{
    display: block;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bold;

    border: 1px solid #51CFDD;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #51CFDD;
}

.special-links-main .list-item a
{
    
}

.special-links-main .list-item a:hover
{
    color: red;
}

.special-content-main
{
    padding: 10px;
    /*border: 1px solid #DEDEDE;*/
    display: block;
    width: 820px;
    min-height: 500px;
    margin-left: 270px;
}

.list-header
{
    font-weight: bold;
    margin-right: 5px;
}

.basic-information-list > li
{
    margin-bottom: 10px;
}

.founder-list
{
    margin-left: 15px;
}

.founder-list .list-subheader
{
    text-decoration: underline;
}

.founder-list > li
{
    margin-bottom: 10px;
}

/*  Documents */

.documents-list 
{
    margin-top: 10px;
}

.add-document-main
{
    padding-top: 10px;
}

.add-document-main .error
{
    border: 1px solid red;
    color: red;
    padding: 10px;
    background-color: #f6f80a;
    margin: 5px;
    font-weight: bold;
}

.add-document-main .add-document
{
    border: 1px solid #DEDEDE;
    padding: 10px;
    margin-top: 5px;
}

.add-document-main .add-document a
{
    margin-bottom: 10px;
}

ul.documents a.extension-link[href$='.zip'] { background:transparent url(/Images/ExtensionIcons.png) 0 0 no-repeat; }
ul.documents a.extension-link[href$='.txt'] { background:transparent url(/Images/ExtensionIcons.png) 0 0 no-repeat; }
ul.documents a.extension-link[href$='.pdf'] { background:transparent url(/Images/ExtensionIcons.png) 0 -80px no-repeat; }
ul.documents a.extension-link[href$='.doc'] { background:transparent url(/Images/ExtensionIcons.png) 0 -20px no-repeat; }
ul.documents a.extension-link[href$='.docx'] { background:transparent url(/Images/ExtensionIcons.png) 0 -20px no-repeat; }
ul.documents a.extension-link[href$='.xls'] { background:transparent url(/Images/ExtensionIcons.png) 0 -60px no-repeat; }
ul.documents a.extension-link[href$='.jpg'] { background:transparent url(/Images/ExtensionIcons.png) 0 -40px no-repeat; }
ul.documents a.extension-link[href$='.png'] { background:transparent url(/Images/ExtensionIcons.png) 0 -40px no-repeat; }

ul.documents a.extension-link
{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 21px; 
    display:inline-block; 
    line-height:21px;
}

ul.documents
{
    list-style: none;
}

ul.documents .documents-item
{
    list-style: none;
    display: block;
    padding: 5px 5px 5px 0px;
}

.document-link-download
{
    /*display: inline-block;
    height: 21px;
    width: 21px;
    line-height: 21px;
    background:transparent url(/Images/download.png) no-repeat;*/
}


/* Leaders */

.leader
{
    border: 1px solid #DEDEDE;
    margin-top: 15px;
}

.leader-name
{
    padding: 5px;
    height: 25px;
    font-weight: bold;
    float: left;
    width: 100%;
}

.leader-photo
{
    height: 150px;
    width: 150px;
    border: 1px solid #DEDEDE;
    float: left;
    margin-right: 15px;
}

.leader-descr
{
    height: 150px;
    width: 300px;
    border: 1px solid #DEDEDE;
    float: left;
}

/* Contacts */
.map-content
{
    width: 800px;
    margin-top: 25px;
}

.address-container
{
    margin-top: 15px;
}

/* welcome */
.welcome-list
{

}

.welcome-list > li
{
    padding-left: 5px;
    margin-bottom: 5px;
}
