<connectionStrings>
	<clear />
	<!-- local -->
	<add name="DdteDBEntities" connectionString="metadata=res://*/DdteDbEntities.csdl|res://*/DdteDbEntities.ssdl|res://*/DdteDbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\ProjectsMy\DDTE_GIT\DDTE\DDTE\DDTE.Web\App_Data\DdteDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>